<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <!-- Page section -->
        <section class="page-section review-page spad">
            <div class="container">
                <div class="row">
                    <% for (game of games) { %>
                    <div class="col-md-6">
                        <div class="review-item">
                            <div class="review-cover set-bg" data-setbg="img/review/5.jpg">
                                <div class="score yellow">9.3</div>
                            </div>
                            <div class="review-text">
                                <h4><%= game.name %></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star is-fade"></i>
                                </div>
                                <p><%= game.description %></p>
                            </div>
                            <div class="text-center pt-4">
                                <a href="/game/<%= game.slug %>" class="site-btn btn-sm">Jouer</a>
                            </div>
                        </div>
                    </div>
                <% } %> 
                </div>
            </div>
        </section>
        <% games %>
        <!-- Page section end -->
        <%- include("../partials/sharedJS.ejs") %>
    </body>
</html>